<div class="fieldWrapper">
    {{ form.reference.errors }}
    <label>Reference:</label>
    {{ form.reference }}
</div>
<div class="fieldWrapper">
    {{ form.referenceLink.errors }}
    <label>Reference link:</label>
    {{ form.referenceLink }}
</div>
<div class="fieldWrapper">
    {{ form.referenceType.errors }}
    <label>Reference type:</label>
    {{ form.referenceType }}
</div>
<div class="fieldWrapper">
    {{ form.shortDesc.errors }}
    <label>Short description:</label>
    {{ form.shortDesc }}
</div>
<div class="fieldWrapper">
    {{ form.longDesc.errors }}
    <label>Long description:</label>
    {{ form.longDesc }}
</div>
