<div id="thermoDataForm">
    <div class="fieldWrapper">
        {{ thermoDataForm.Cplist.errors }} {{ thermoDataForm.Tlist.errors }}
        <label>Heat capacities:</label>
        {{ thermoDataForm.Cplist }} {{ thermoDataForm.Cp_units }} at {{ thermoDataForm.Tlist }}  {{ thermoDataForm.T_units }}
    </div>
    <div class="fieldWrapper">
        {{ thermoDataForm.H298.errors }}
        <label>Enthalpy (298 K) = </label>
        {{ thermoDataForm.H298 }} {{ thermoDataForm.H298_units }}
    </div>
    <div class="fieldWrapper">
        {{ thermoDataForm.S298.errors }}
        <label>Entropy (298 K) = </label>
        {{ thermoDataForm.S298 }} {{ thermoDataForm.S298_units }}
    </div>
</div>
