<table>
    <tr>
        <td>Temperature:</td>
        <td>{{ form.T }} {{ form.T_units }}</td>
        <td>Heat capacity:</td>
        <td>{{ form.Cp }} {{ form.Cp_units }}</td>
    </tr>
    <tr>
        <td></td><td></td>
        <td>Enthalpy:</td>
        <td>{{ form.H }} {{ form.H_units }}</td>
    </tr>
    <tr>
        <td></td><td></td>
        <td>Entropy:</td>
        <td>{{ form.S }} {{ form.S_units }}</td>
    </tr>
    <tr>
        <td></td><td></td>
        <td>Free energy:</td>
        <td>{{ form.G }} {{ form.G_units }}</td>
    </tr>
</table>
